@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600&display=swap');

:root {
    --violet-color: hsl(257, 40%, 49%);
    --soft-magenta-color: hsl(300, 69%, 71%);
}

/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base styles */
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--violet-color) url(./images/bg-mobile.svg) no-repeat;
    color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

.primary-btn {
    border: none;
    outline: none;
    padding: 12px 70px;
    box-shadow: 0px 10px 10px -8px rgb(0 0 0 / 30%);
    background: #fff;
    color: var(--violet-color);
    border-radius: 50px;
}

.primary-btn:hover {
    background: var(--soft-magenta-color);
    color: #fff;
}

/* header */
header {
    margin-bottom: 50px;
}

header img {
    width: 150px;
}

/* main */
main {
    text-align: center;
}

main,
main .huddle-illustration {
    margin-bottom: 40px;
}

main h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

main .content p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* footer */
footer ul {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

footer li {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

footer a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

/* media queries */
@media (min-width: 1440px) {
    body {
        background: var(--violet-color) url(./images/bg-desktop.svg) no-repeat;
        background-size: cover;
        padding: 4rem;
    }

    header {
        margin-bottom: 80px;
    }

    header img {
        width: 180px;
    }

    main {
        text-align: left;
        display: flex;
        margin-bottom: 8px;
    }

    main .content {
        padding: 70px 60px 0;
    }

    main h1 {
        font-size: 2rem;
    }

    .primary-btn {
        font-size: 1.1rem;
        padding: 15px 60px;
    }

    footer ul {
        width: 12%;
        margin: 0 0 0 auto;
    }

    footer a:hover {
        color: var(--soft-magenta-color);
        border-color: var(--soft-magenta-color);
    }
}